@import url(http://fonts.googleapis.com/css?family=Exo:200);
/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* ===== MY STYLES ===== */

::selection {
    background: #0B090B;
}

#top {
    background-image: url(../images/london/succulent_reflection.jpg);
    background-size: cover;
    height: 325px;
    }

#header-title {
    margin-bottom: 7px;
}

figure img {
    max-width: 100%;
    height: auto;
    width: 1400px;
    margin: 10px auto;
    border-radius: 6px;
}

img.center {
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 30px;
    margin-bottom: 10px;
}

figure figcaption {
    font-family: 'Exo', sans-serif;
    color: #EFF3F2;
    text-align: center;
    background: #1f1f1f;
    font-size: 12px;
}

body {
    background-color: #1f1f1f;
}

h1, h2, h3 {
    font-family: 'Exo', sans-serif;
    color: #EFF3F2;
}

.title-fill {
    background-color: #1f1f1f;
    padding: 0 5px;
}

header h1 {
    font-size: 50px;
}

header h2 {
    font-size: 30px;
}

nav {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}


#ldn {
    background-image: url(../images/london/gherkin.jpg);
    background-size: 100%;
    height: 350px;
    width: 350px;
    border-radius: 6px;
}

#ldn:hover {
    height: 300px;
}

#sel {
    background-image: url(../images/seoul/pointing.jpg);
    background-size: 100%;
    height: 350px;
    width: 350px;
    border-radius: 6px;
}

#sel:hover {
    height: 300px;
}

#melb {
    background-image: url(../images/melbourne/time.jpg);
    background-size: 100%;
    height: 350px;
    width: 350px;
    border-radius: 6px;
}

#melb:hover {
    height: 300px;
}

.list-background {
    font-size: 35px;
    background-color: #1f1f1f;
    padding: 0 5px;
}

.nav-links li {
    margin: 0 10px 10px 0;
    list-style: none;
    display: inline-block;
    *display: inline; /*IE7*/
}


.nav-links a {
    text-decoration: none;
    font-family: 'Exo', sans-serif;
    color: #EFF3F2;
}

.grid {
    padding: 50px;
    overflow: hidden;
}

.grid li {
    float: left;
    width: 45%;
    margin: 20px 2.5%;
    list-style-type: none;
}

.grid img {
    width: 100%;
    margin: 0 auto;
    display: block;
    border-radius: 6px;
}

.grid li:nth-child(odd) {
    clear: left;
}

.home-image {
    background-image: url(../images/thiswayupsmall.jpg);
    background-size: 100%;
    height: 150px;
    width: 200px;
    padding: 0 5px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
    *display: inline; /*IE7*/
    text-decoration: none;
    font-size: 35px;
    font-family: 'Exo', sans-serif;
    border-radius: 6px;
}

.home-image:hover {
    height: 120px;
}

.home-text {   
    color: #EFF3F2;
    background-color: #1f1f1f;
  
}


















